<?php include './config/config.php'; ?>

<!DOCTYPE html>

<html lang="pt" ng-app="myApp" ng-controller="myCtrl">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <title>Youtube Downloader</title>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="keywords" content="your,keywords">

        <meta name="description" content="Short explanation about this website">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>

        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.css" />

        <link type="text/css" rel="stylesheet" href="assets/css/material.css" />

        <link type="text/css" rel="stylesheet" href="assets/css/modules/materialadmin/css/theme-default/font-awesome.min.css%3f1422823239" />

        <link type="text/css" rel="stylesheet" href="assets/css/ionic.css" />

        <link type="text/css" rel="stylesheet" href="assets/css/modules/materialadmin/css/theme-default/libs/rickshaw/rickshaw.css%3f1422823372" />

        <link type="text/css" rel="stylesheet" href="assets/css/modules/materialadmin/css/theme-default/libs/morris/morris.core.css%3f1422823370" />

        <script>
            function showBody() {
                $('#body').css({
                    'display': 'block'
                });
            }
        </script>
    </head>

    <body class="menubar-hoverable header-fixed" style="display: none;" onload="showBody()" id="body">

        <header id="header" >

            <div class="headerbar">

                <div class="headerbar-left">

                    <ul class="header-nav header-nav-options">

                        <li class="header-nav-brand" >

                            <div class="brand-holder">

                                <a href="#">

                                    <span class="text-lg text-bold text-danger">Youtube Downloader</span>

                                </a>

                            </div>

                        </li>

                    </ul>

                </div>



                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="headerbar-right">

                    <ul class="header-nav header-nav-options">

                        <li>
                            <!-- Search form -->

                            <form class="form-inline" onsubmit="return false;" ng-submit="searchKey(search)">

                                <div class="input-group">

                                    <input type="text" id="inputSearch" class="form-control" ng-model="search" ng-keyup="change($event, search)" name="headerSearch" placeholder="O que você procura?">

                                    <div class="input-group-addon">

                                        <button type="submit" id="buttonSearch" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search "></i></button>

                                    </div>

                                </div>
                            </form>
                        </li>

                    </ul>

                    <ul class="header-nav header-nav-toggle">
                        <li>
                            <img src="semfoto.jpg" id="foto" style="width: 40px;
                                 height: 40px;
                                 border-radius: 40px;" class="img-circle"/>
                        </li>
                        <li class="dropdown">
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" data-backdrop="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-if="isLogged" id="nameUser"></a></li>
                                <li role="separator" ng-show="isLogged" class="divider"></li>
                                <li><a href="#" ng-show="isLogged" ng-click="logout()">Sair</a></li>
                                <li><a href="#" onclick="signIn()" ng-show="!isLogged" ng-click="logout()">Login</a></li>
                            </ul>
                        </li>
                        <!--                        <li>
                                                    <a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </a>
                                                </li>-->
                    </ul><!--end .header-nav-toggle -->

                </div><!--end #header-navbar-collapse -->

            </div>

        </header>

        <div id="base">

            <div class="offcanvas"></div>

            <div id="content">

                <section>

                    <div class="section-body">

                        <div class="row">

                            <div class="col-md-12" ng-if="items.length === 0">
                                <center><button onclick="signIn()" id="login" ng-show="!isLogged" class="btn ink-reaction btn-danger">Faça o Login</button></center>

                                <br/><br/><br/><br/>
                                <center><img src="logo.png" class="img-responsive"/></center>

                            </div>

                            <div class="col-sm-12 col-lg-3" ng-if="items.length > 0" ng-repeat="item in items">

                                <div class="card card-bordered style-default">
                                    <div class="card-body">
                                        <div class="col-sm-12">
                                            <div style="width: 30%;float: left;">
                                                <img src="{{item.snippet.thumbnails.default.url}}" class="img-responsive" style="width: 100px;height: 80px;"/>   
                                            </div>
                                            <div style="width: 65%;float: left;margin-left: 5px;">
                                                <header>{{item.snippet.title}}</header>
                                            </div>
                                        </div>
                                        <iframe ng-src="{{getURL(item.id.videoId)}}" style="width: 100%; height: 100px; border: 0px;"></iframe>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>                    

                </section>

            </div>

        </div>	




        <script src="assets/js/modules/materialadmin/libs/jquery/jquery-1.11.2.min.js"></script>

        <script src="app.js"></script>

        <script src="auth.js"></script>

        <script src="search.js"></script>

        <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

        <script src="assets/js/modules/materialadmin/libs/jquery/jquery-migrate-1.2.1.min.js"></script>

        <script src="assets/js/modules/materialadmin/libs/bootstrap/bootstrap.min.js"></script>

        <script src="assets/js/modules/materialadmin/libs/spin.js/spin.min.js"></script>

        <script src="assets/js/modules/materialadmin/libs/autosize/jquery.autosize.min.js"></script>

        <script src="assets/js/modules/materialadmin/libs/moment/moment.min.js"></script>

        <script src="assets/js/modules/materialadmin/core/cache/ec2c8835c9f9fbb7b8cd36464b491e73.js"></script>

        <script src="assets/js/modules/materialadmin/libs/jquery-knob/jquery.knob.min.js"></script>

        <script src="assets/js/modules/materialadmin/libs/sparkline/jquery.sparkline.min.js"></script>

        <script src="assets/js/modules/materialadmin/libs/nanoscroller/jquery.nanoscroller.min.js"></script>

        <script src="assets/js/modules/materialadmin/core/cache/43ef607ee92d94826432d1d6f09372e1.js"></script>

        <script src="assets/js/modules/materialadmin/libs/rickshaw/rickshaw.min.js"></script>

        <script src="assets/js/modules/materialadmin/core/cache/63d0445130d69b2868a8d28c93309746.js"></script>

        <script src="assets/js/modules/materialadmin/core/demo/Demo.js"></script>



    </body>

</html>